<html>
<head>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="javascripts/chatbot.js"></script>
    <link rel="stylesheet" href="stylesheets/chatbot.css" type="text/css">
</head>
<body>
<div class="topstrip" id="topstrip">Transactional Chatbot &nbsp;&nbsp;&nbsp;</div>
<div class="topbar" id="chat-text">
</div>
<form>
    <span style="width:100%;">
        <input class="inputbox"
               placeholder="Ask bot something here ... " id="message" name="date" value="">
    </span>
    <input name="submit" type="hidden" value="Submit">
</form>
</body>
</html>